Package: superx-fonts
Version: 3.0-superx1
Architecture: all
Maintainer: Wrishiraj Kaushik <wrix@superxos.com>
Installed-Size: 3776
Pre-Depends: dpkg (>= 1.15.6~)
Section: fonts
Priority: optional
Multi-Arch: foreign
Description: Collection of fonts for SuperX
 This package contains OpenSans and Source Sans Pro fonts.
